*{
    margin: 0;
  
}
body{
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
 
}
a,
a:link {
    
    color: #ffffff;
}

header{
    text-align: center;
    background-color:rgb(178, 198, 212);
}
nav {
    background-color: rgb(236, 14, 14);
    padding: 2%;
    text-align: center;

}

/*Arquivos de texto da pagina*/
.links_p {
    width: 20%;
    padding: 1%;
    display: inline;
}
/*Arquivos de texto da pagina*/
h2{
    padding-top: 2%;
    margin-top: 0%;
    text-align: center;
    background-color: antiquewhite;
}
.paragrafo{
    margin-top: 4%;
    margin-left: 28%;
    width: 40%;
    border:inset #8b8080ce;
    background-color: antiquewhite;
}

article{
    position: absolute;
    top: 28%;
    left: 2%; 
  }
.Meuimg{
    left: 0%;    
    width:40%;
    border:inset #dad3d3ce;
}

h3{
    text-align: center;
}
/*Arquivos de IMAGEN da pagina*/
.IMG1{
    position: absolute;
    width: 40%;
    top: 28%;
    left: 50%;
}

